<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Back-1a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1048</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>300</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>340</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1b</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>1334</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>268</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>372</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1c</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>1604</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>207</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>433</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>644</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>402</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>238</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2b</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>943</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>389</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>251</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2c</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1350</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>315</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>325</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-3a</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>482</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>459</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>181</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-3b</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>478</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>162</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-3c</key>
		<dict>
			<key>x</key>
			<real>515</real>
			<key>y</key>
			<real>1350</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>293</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>347</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Ground-1</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1734</real>
			<key>w</key>
			<real>800</real>
			<key>h</key>
			<real>63</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>65</real>
			<key>oW</key>
			<real>800</real>
			<key>oH</key>
			<real>128</real>
		</dict>
		<key>Ground-2</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1667</real>
			<key>w</key>
			<real>800</real>
			<key>h</key>
			<real>65</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>63</real>
			<key>oW</key>
			<real>800</real>
			<key>oH</key>
			<real>128</real>
		</dict>
		<key>Sky-a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>640</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>City.png</string>
		<key>width</key>
		<integer>2054</integer>
		<key>height</key>
		<integer>1813</integer>
	</dict>
</dict>
</plist>
