<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Back-1a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1309</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>171</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>469</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1b</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1134</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>173</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>467</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1c</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>793</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>170</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>470</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>896</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>236</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>404</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2b</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>644</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>250</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>390</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2c</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>552</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>239</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>401</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Cactus-1</key>
		<dict>
			<key>x</key>
			<real>1541</real>
			<key>y</key>
			<real>552</real>
			<key>w</key>
			<real>138</real>
			<key>h</key>
			<real>357</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>4</real>
			<key>oW</key>
			<real>138</real>
			<key>oH</key>
			<real>361</real>
		</dict>
		<key>Cactus-2</key>
		<dict>
			<key>x</key>
			<real>1433</real>
			<key>y</key>
			<real>965</real>
			<key>w</key>
			<real>128</real>
			<key>h</key>
			<real>202</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>10</real>
			<key>oW</key>
			<real>128</real>
			<key>oH</key>
			<real>212</real>
		</dict>
		<key>Cactus-3</key>
		<dict>
			<key>x</key>
			<real>1397</real>
			<key>y</key>
			<real>1249</real>
			<key>w</key>
			<real>108</real>
			<key>h</key>
			<real>231</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>5</real>
			<key>oW</key>
			<real>108</real>
			<key>oH</key>
			<real>236</real>
		</dict>
		<key>Cactus-4</key>
		<dict>
			<key>x</key>
			<real>1761</real>
			<key>y</key>
			<real>1179</real>
			<key>w</key>
			<real>100</real>
			<key>h</key>
			<real>184</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>3</real>
			<key>oW</key>
			<real>100</real>
			<key>oH</key>
			<real>187</real>
		</dict>
		<key>Ground-1</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>185</real>
			<key>w</key>
			<real>800</real>
			<key>h</key>
			<real>75</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>53</real>
			<key>oW</key>
			<real>800</real>
			<key>oH</key>
			<real>128</real>
		</dict>
		<key>Ground-2</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>262</real>
			<key>w</key>
			<real>800</real>
			<key>h</key>
			<real>74</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>54</real>
			<key>oW</key>
			<real>800</real>
			<key>oH</key>
			<real>128</real>
		</dict>
		<key>Dwelling-1</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>1363</real>
			<key>w</key>
			<real>231</real>
			<key>h</key>
			<real>94</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>5</real>
			<key>oW</key>
			<real>231</real>
			<key>oH</key>
			<real>99</real>
		</dict>
		<key>Dwelling-2</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>1249</real>
			<key>w</key>
			<real>367</real>
			<key>h</key>
			<real>112</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>20</real>
			<key>oW</key>
			<real>367</real>
			<key>oH</key>
			<real>132</real>
		</dict>
		<key>Palm-1</key>
		<dict>
			<key>x</key>
			<real>1681</real>
			<key>y</key>
			<real>524</real>
			<key>w</key>
			<real>183</real>
			<key>h</key>
			<real>263</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>6</real>
			<key>oW</key>
			<real>183</real>
			<key>oH</key>
			<real>269</real>
		</dict>
		<key>Palm-2</key>
		<dict>
			<key>x</key>
			<real>1681</real>
			<key>y</key>
			<real>789</real>
			<key>w</key>
			<real>173</real>
			<key>h</key>
			<real>180</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>4</real>
			<key>oW</key>
			<real>173</real>
			<key>oH</key>
			<real>184</real>
		</dict>
		<key>Palm-3</key>
		<dict>
			<key>x</key>
			<real>1625</real>
			<key>y</key>
			<real>338</real>
			<key>w</key>
			<real>193</real>
			<key>h</key>
			<real>184</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>5</real>
			<key>oW</key>
			<real>193</real>
			<key>oH</key>
			<real>189</real>
		</dict>
		<key>Rocks-1</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>770</real>
			<key>h</key>
			<real>181</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>4</real>
			<key>oW</key>
			<real>777</real>
			<key>oH</key>
			<real>185</real>
		</dict>
		<key>Rocks-2</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>1116</real>
			<key>w</key>
			<real>371</real>
			<key>h</key>
			<real>131</real>
			<key>oX</key>
			<real>7</real>
			<key>oY</key>
			<real>13</real>
			<key>oW</key>
			<real>417</real>
			<key>oH</key>
			<real>144</real>
		</dict>
		<key>Rocks-3</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>965</real>
			<key>w</key>
			<real>403</real>
			<key>h</key>
			<real>149</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>10</real>
			<key>oW</key>
			<real>436</real>
			<key>oH</key>
			<real>159</real>
		</dict>
		<key>Rocks-4</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>338</real>
			<key>w</key>
			<real>595</real>
			<key>h</key>
			<real>212</real>
			<key>oX</key>
			<real>4</real>
			<key>oY</key>
			<real>2</real>
			<key>oW</key>
			<real>599</real>
			<key>oH</key>
			<real>214</real>
		</dict>
		<key>Sky-a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>640</real>
		</dict>
		<key>Sun-1</key>
		<dict>
			<key>x</key>
			<real>1563</real>
			<key>y</key>
			<real>971</real>
			<key>w</key>
			<real>256</real>
			<key>h</key>
			<real>206</real>
		</dict>
		<key>Sun-2</key>
		<dict>
			<key>x</key>
			<real>1507</real>
			<key>y</key>
			<real>1179</real>
			<key>w</key>
			<real>252</real>
			<key>h</key>
			<real>183</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>Desert.png</string>
		<key>width</key>
		<integer>1867</integer>
		<key>height</key>
		<integer>1482</integer>
	</dict>
</dict>
</plist>
