<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ForestSoldierBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>240</integer>
		</array>
	</dict>
	<key>SoldierBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>240</integer>
		</array>
	</dict>
	<key>SnowSoldierBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>240</integer>
		</array>
	</dict>
	<key>DesertSoldierBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>240</integer>
		</array>
	</dict>
	<key>Alien</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>200</integer>
		</array>
	</dict>
	<key>AlienBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>250</integer>
		</array>
	</dict>
	<key>AquaBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>240</integer>
		</array>
	</dict>
	<key>DesertBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>240</integer>
		</array>
	</dict>
	<key>FloatingBot</key>
	<dict>
		<key>size</key>
		<integer>150</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>200</integer>
		</array>
	</dict>
	<key>MonkeyBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>200</integer>
		</array>
	</dict>
	<key>OneEyedBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>260</integer>
		</array>
	</dict>
	<key>PenguinBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>150</integer>
			<integer>260</integer>
		</array>
	</dict>
	<key>ScorpionBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>250</integer>
			<integer>130</integer>
		</array>
	</dict>
	<key>SnakeBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>250</integer>
			<integer>50</integer>
		</array>
	</dict>
	<key>SnowmobileBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>240</integer>
			<integer>140</integer>
		</array>
	</dict>
	<key>TreadBot</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>220</integer>
			<integer>200</integer>
		</array>
	</dict>
	<key>WorkerBot1</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>200</integer>
			<integer>260</integer>
		</array>
	</dict>
	<key>WorkerBot2</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>200</integer>
			<integer>260</integer>
		</array>
	</dict>
	<key>WorkerBot3</key>
	<dict>
		<key>size</key>
		<integer>200</integer>
		<key>frame</key>
		<array>
			<integer>200</integer>
			<integer>260</integer>
		</array>
	</dict>
</dict>
</plist>
