<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
===================================================================

Sprite sheet file created for UIKit using TexturePacker
http://www.codeandweb.com/texturepacker

===================================================================
$TexturePacker:SmartUpdate:d8ef9b1a1a0c72ef48da79637c9bf0f6:26fe84c54e9fb361eed34500f83939e6:998aa953f7a11ae19f4849ffb8e55795$
-->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>

                        <key>Back-1a</key>
			<dict>
				<key>x</key><real>1044</real>
				<key>y</key><real>1568</real>
				<key>w</key><real>1040</real>
				<key>h</key><real>167</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>473</real>
				<key>oW</key><real>1040</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-1b</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>1573</real>
				<key>w</key><real>1040</real>
				<key>h</key><real>170</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>470</real>
				<key>oW</key><real>1040</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-1c</key>
			<dict>
				<key>x</key><real>2086</real>
				<key>y</key><real>1240</real>
				<key>w</key><real>479</real>
				<key>h</key><real>172</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>468</real>
				<key>oW</key><real>479</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-2a</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>644</real>
				<key>w</key><real>1040</real>
				<key>h</key><real>481</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>159</real>
				<key>oW</key><real>1040</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-2b</key>
			<dict>
				<key>x</key><real>1044</real>
				<key>y</key><real>467</real>
				<key>w</key><real>1040</real>
				<key>h</key><real>396</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>244</real>
				<key>oW</key><real>1040</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-2c</key>
			<dict>
				<key>x</key><real>2086</real>
				<key>y</key><real>2</real>
				<key>w</key><real>479</real>
				<key>h</key><real>446</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>194</real>
				<key>oW</key><real>479</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-3a</key>
			<dict>
				<key>x</key><real>1044</real>
				<key>y</key><real>1231</real>
				<key>w</key><real>1040</real>
				<key>h</key><real>335</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>305</real>
				<key>oW</key><real>1040</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-3b</key>
			<dict>
				<key>x</key><real>1044</real>
				<key>y</key><real>865</real>
				<key>w</key><real>1040</real>
				<key>h</key><real>364</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>276</real>
				<key>oW</key><real>1040</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-3c</key>
			<dict>
				<key>x</key><real>2086</real>
				<key>y</key><real>848</real>
				<key>w</key><real>479</real>
				<key>h</key><real>390</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>250</real>
				<key>oW</key><real>479</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-4a</key>
			<dict>
				<key>x</key><real>1044</real>
				<key>y</key><real>2</real>
				<key>w</key><real>1040</real>
				<key>h</key><real>463</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>177</real>
				<key>oW</key><real>1040</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-4b</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>1127</real>
				<key>w</key><real>1040</real>
				<key>h</key><real>444</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>196</real>
				<key>oW</key><real>1040</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Back-4c</key>
			<dict>
				<key>x</key><real>2086</real>
				<key>y</key><real>450</real>
				<key>w</key><real>479</real>
				<key>h</key><real>396</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>244</real>
				<key>oW</key><real>479</real>
				<key>oH</key><real>640</real>
				
			</dict>
                        <key>Ground-1</key>
			<dict>
				<key>x</key><real>1044</real>
				<key>y</key><real>1737</real>
				<key>w</key><real>800</real>
				<key>h</key><real>66</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>62</real>
				<key>oW</key><real>800</real>
				<key>oH</key><real>128</real>
				
			</dict>
                        <key>Ground-2</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>1745</real>
				<key>w</key><real>800</real>
				<key>h</key><real>65</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>63</real>
				<key>oW</key><real>800</real>
				<key>oH</key><real>128</real>
				
			</dict>
                        <key>Planet</key>
			<dict>
				<key>x</key><real>2086</real>
				<key>y</key><real>1414</real>
				<key>w</key><real>212</real>
				<key>h</key><real>187</real>
				
				
			</dict>
                        <key>Ringed-Planet</key>
			<dict>
				<key>x</key><real>804</real>
				<key>y</key><real>1745</real>
				<key>w</key><real>129</real>
				<key>h</key><real>51</real>
				
				
			</dict>
                        <key>Sky-a</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>1040</real>
				<key>h</key><real>640</real>
				
				
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>image</key>
			<string>Factory.png</string>
			<key>width</key>
			<integer>2567</integer>
			<key>height</key>
			<integer>1812</integer>
		</dict>
	</dict>
</plist>
