<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Battery</key>
		<dict>
			<key>x</key>
			<real>96</real>
			<key>y</key>
			<real>469</real>
			<key>w</key>
			<real>68</real>
			<key>h</key>
			<real>88</real>
			<key>oX</key>
			<real>43</real>
			<key>oY</key>
			<real>32</real>
			<key>oW</key>
			<real>150</real>
			<key>oH</key>
			<real>150</real>
		</dict>
		<key>Bolt</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>604</real>
			<key>w</key>
			<real>88</real>
			<key>h</key>
			<real>119</real>
		</dict>
		<key>Flag</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>172</real>
			<key>h</key>
			<real>355</real>
			<key>oX</key>
			<real>23</real>
			<key>oY</key>
			<real>16</real>
			<key>oW</key>
			<real>215</real>
			<key>oH</key>
			<real>400</real>
		</dict>
		<key>Gear</key>
		<dict>
			<key>x</key>
			<real>92</real>
			<key>y</key>
			<real>718</real>
			<key>w</key>
			<real>79</real>
			<key>h</key>
			<real>82</real>
			<key>oX</key>
			<real>10</real>
			<key>oY</key>
			<real>5</real>
			<key>oW</key>
			<real>100</real>
			<key>oH</key>
			<real>91</real>
		</dict>
		<key>Screw</key>
		<dict>
			<key>x</key>
			<real>92</real>
			<key>y</key>
			<real>604</real>
			<key>w</key>
			<real>80</real>
			<key>h</key>
			<real>112</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>12</real>
			<key>oW</key>
			<real>83</real>
			<key>oH</key>
			<real>124</real>
		</dict>
		<key>Spark</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>469</real>
			<key>w</key>
			<real>92</real>
			<key>h</key>
			<real>133</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>9</real>
			<key>oW</key>
			<real>92</real>
			<key>oH</key>
			<real>142</real>
		</dict>
		<key>Spring</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>725</real>
			<key>w</key>
			<real>87</real>
			<key>h</key>
			<real>128</real>
		</dict>
		<key>Washer</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>359</real>
			<key>w</key>
			<real>106</real>
			<key>h</key>
			<real>108</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>GameObjects.png</string>
		<key>width</key>
		<integer>176</integer>
		<key>height</key>
		<integer>855</integer>
	</dict>
</dict>
</plist>
