<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Fail</key>
		<dict>
			<key>x</key>
			<real>546</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>491</real>
			<key>h</key>
			<real>570</real>
		</dict>
		<key>Help-screen-01</key>
		<dict>
			<key>x</key>
			<real>1905</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>993</real>
			<key>h</key>
			<real>470</real>
		</dict>
		<key>Help-screen-02</key>
		<dict>
			<key>x</key>
			<real>1905</real>
			<key>y</key>
			<real>474</real>
			<key>w</key>
			<real>954</real>
			<key>h</key>
			<real>493</real>
		</dict>
		<key>Left</key>
		<dict>
			<key>x</key>
			<real>488</real>
			<key>y</key>
			<real>587</real>
			<key>w</key>
			<real>39</real>
			<key>h</key>
			<real>85</real>
		</dict>
		<key>Right</key>
		<dict>
			<key>x</key>
			<real>529</real>
			<key>y</key>
			<real>587</real>
			<key>w</key>
			<real>39</real>
			<key>h</key>
			<real>85</real>
		</dict>
		<key>Button</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>587</real>
			<key>w</key>
			<real>420</real>
			<key>h</key>
			<real>116</real>
		</dict>
		<key>Health</key>
		<dict>
			<key>x</key>
			<real>424</real>
			<key>y</key>
			<real>674</real>
			<key>w</key>
			<real>377</real>
			<key>h</key>
			<real>21</real>
		</dict>
		<key>Life</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>705</real>
			<key>w</key>
			<real>489</real>
			<key>h</key>
			<real>100</real>
		</dict>
		<key>Menu-Hud-Progress-Meter</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>807</real>
			<key>w</key>
			<real>1135</real>
			<key>h</key>
			<real>31</real>
		</dict>
		<key>Score</key>
		<dict>
			<key>x</key>
			<real>642</real>
			<key>y</key>
			<real>574</real>
			<key>w</key>
			<real>237</real>
			<key>h</key>
			<real>69</real>
		</dict>
		<key>Frame</key>
		<dict>
			<key>x</key>
			<real>1039</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>864</real>
			<key>h</key>
			<real>542</real>
		</dict>
		<key>Locked</key>
		<dict>
			<key>x</key>
			<real>424</real>
			<key>y</key>
			<real>587</real>
			<key>w</key>
			<real>62</real>
			<key>h</key>
			<real>85</real>
		</dict>
		<key>Play</key>
		<dict>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>574</real>
			<key>w</key>
			<real>70</real>
			<key>h</key>
			<real>70</real>
		</dict>
		<key>Logo</key>
		<dict>
			<key>x</key>
			<real>1139</real>
			<key>y</key>
			<real>546</real>
			<key>w</key>
			<real>654</real>
			<key>h</key>
			<real>428</real>
		</dict>
		<key>Progress-Bar</key>
		<dict>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>646</real>
			<key>w</key>
			<real>35</real>
			<key>h</key>
			<real>17</real>
		</dict>
		<key>Victory</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>542</real>
			<key>h</key>
			<real>583</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>GUI.png</string>
		<key>width</key>
		<integer>2900</integer>
		<key>height</key>
		<integer>976</integer>
	</dict>
</dict>
</plist>
