<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Factory</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>616</real>
			<key>h</key>
			<real>265</real>
		</dict>
		<key>Forest</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>269</real>
			<key>w</key>
			<real>616</real>
			<key>h</key>
			<real>265</real>
		</dict>
		<key>Desert</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>536</real>
			<key>w</key>
			<real>616</real>
			<key>h</key>
			<real>265</real>
		</dict>
		<key>Snow</key>
		<dict>
			<key>x</key>
			<real>620</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>616</real>
			<key>h</key>
			<real>265</real>
		</dict>
		<key>City</key>
		<dict>
			<key>x</key>
			<real>1238</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>616</real>
			<key>h</key>
			<real>265</real>
		</dict>
		<key>Water</key>
		<dict>
			<key>x</key>
			<real>620</real>
			<key>y</key>
			<real>269</real>
			<key>w</key>
			<real>616</real>
			<key>h</key>
			<real>265</real>
		</dict>
		<key>Space</key>
		<dict>
			<key>x</key>
			<real>1238</real>
			<key>y</key>
			<real>269</real>
			<key>w</key>
			<real>616</real>
			<key>h</key>
			<real>265</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>LevelViews.png</string>
		<key>width</key>
		<integer>1856</integer>
		<key>height</key>
		<integer>803</integer>
	</dict>
</dict>
</plist>
