<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Factory</key>
	<dict>
		<key>title</key>
		<string>Industrial Wasteland</string>
		<key>order</key>
		<integer>0</integer>
		<key>floor</key>
		<true/>
		<key>powerup</key>
		<string>Boost</string>
		<key>characters</key>
		<array>
			<string>SoldierBot</string>
			<string>AlienBot</string>
			<string>OneEyedBot</string>
		</array>
		<key>color</key>
		<array>
			<real>0.137</real>
			<real>0.145</real>
			<real>0.215</real>
		</array>
	</dict>
	<key>Forest</key>
	<dict>
		<key>title</key>
		<string>Overgrown Wilderness</string>
		<key>order</key>
		<integer>1</integer>
		<key>floor</key>
		<true/>
		<key>powerup</key>
		<string>JumpBoost</string>
		<key>characters</key>
		<array>
			<string>ForestSoldierBot</string>
			<string>MonkeyBot</string>
			<string>SnakeBot</string>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<real>0.325</real>
			<real>0.235</real>
		</array>
	</dict>
	<key>Desert</key>
	<dict>
		<key>title</key>
		<string>Desolate Dunes</string>
		<key>order</key>
		<integer>2</integer>
		<key>floor</key>
		<true/>
		<key>powerup</key>
		<string>Absorber</string>
		<key>characters</key>
		<array>
			<string>DesertSoldierBot</string>
			<string>DesertBot</string>
			<string>TreadBot</string>
		</array>
		<key>color</key>
		<array>
			<real>0.843</real>
			<real>0.772</real>
			<real>0.576</real>
		</array>
	</dict>
	<key>Snow</key>
	<dict>
		<key>title</key>
		<string>Raging Blizzard</string>
		<key>order</key>
		<integer>3</integer>
		<key>floor</key>
		<true/>
		<key>powerup</key>
		<string>Shield</string>
		<key>characters</key>
		<array>
			<string>SnowSoldierBot</string>
			<string>SnowmobileBot</string>
			<string>PenguinBot</string>
		</array>
		<key>color</key>
		<array>
			<real>0.9330000000000001</real>
			<real>0.9330000000000001</real>
			<real>0.929</real>
		</array>
	</dict>
	<key>City</key>
	<dict>
		<key>title</key>
		<string>Robotic Metropolis</string>
		<key>order</key>
		<integer>4</integer>
		<key>floor</key>
		<true/>
		<key>powerup</key>
		<string>Invisibility</string>
		<key>characters</key>
		<array>
			<string>WorkerBot1</string>
			<string>WorkerBot2</string>
			<string>WorkerBot3</string>
		</array>
		<key>color</key>
		<array>
			<real>0.29</real>
			<real>0.301</real>
			<real>0.333</real>
		</array>
	</dict>
	<key>Water</key>
	<dict>
		<key>title</key>
		<string>Oceanic Abyss</string>
		<key>order</key>
		<integer>5</integer>
		<key>floor</key>
		<false/>
		<key>powerup</key>
		<string>Teleport</string>
		<key>characters</key>
		<array>
			<string>SoldierBot</string>
			<string>AlienBot</string>
			<string>OneEyedBot</string>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Space</key>
	<dict>
		<key>title</key>
		<string>High Orbit</string>
		<key>order</key>
		<integer>6</integer>
		<key>floor</key>
		<false/>
		<key>powerup</key>
		<string>Shockwave</string>
		<key>characters</key>
		<array>
			<string>SoldierBot</string>
			<string>AlienBot</string>
			<string>OneEyedBot</string>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
</dict>
</plist>
