<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Repulser-beam-1</key>
		<dict>
			<key>x</key>
			<real>314</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>154</real>
			<key>h</key>
			<real>79</real>
			<key>oX</key>
			<real>35</real>
			<key>oY</key>
			<real>20</real>
			<key>oW</key>
			<real>232</real>
			<key>oH</key>
			<real>140</real>
		</dict>
		<key>Repulser-beam-2</key>
		<dict>
			<key>x</key>
			<real>158</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>154</real>
			<key>h</key>
			<real>87</real>
			<key>oX</key>
			<real>35</real>
			<key>oY</key>
			<real>20</real>
			<key>oW</key>
			<real>232</real>
			<key>oH</key>
			<real>140</real>
		</dict>
		<key>Repulser-beam-3</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>154</real>
			<key>h</key>
			<real>97</real>
			<key>oX</key>
			<real>35</real>
			<key>oY</key>
			<real>20</real>
			<key>oW</key>
			<real>232</real>
			<key>oH</key>
			<real>140</real>
		</dict>
		<key>Repulser-no-beam</key>
		<dict>
			<key>x</key>
			<real>470</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>154</real>
			<key>h</key>
			<real>79</real>
			<key>oX</key>
			<real>35</real>
			<key>oY</key>
			<real>20</real>
			<key>oW</key>
			<real>232</real>
			<key>oH</key>
			<real>140</real>
		</dict>
		<key>block_tex</key>
		<dict>
			<key>x</key>
			<real>158</real>
			<key>y</key>
			<real>91</real>
			<key>w</key>
			<real>128</real>
			<key>h</key>
			<real>16</real>
		</dict>
		<key>platform-piece-bottom</key>
		<dict>
			<key>x</key>
			<real>314</real>
			<key>y</key>
			<real>83</real>
			<key>w</key>
			<real>72</real>
			<key>h</key>
			<real>21</real>
		</dict>
		<key>platform-piece-top</key>
		<dict>
			<key>x</key>
			<real>626</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>130</real>
			<key>h</key>
			<real>48</real>
		</dict>
		<key>platform-piece-left</key>
		<dict>
			<key>x</key>
			<real>724</real>
			<key>y</key>
			<real>52</real>
			<key>w</key>
			<real>59</real>
			<key>h</key>
			<real>55</real>
		</dict>
		<key>platform-piece-right</key>
		<dict>
			<key>x</key>
			<real>626</real>
			<key>y</key>
			<real>52</real>
			<key>w</key>
			<real>96</real>
			<key>h</key>
			<real>57</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>Platform.png</string>
		<key>width</key>
		<integer>785</integer>
		<key>height</key>
		<integer>111</integer>
	</dict>
</dict>
</plist>
