<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boost</key>
	<dict>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>rate</key>
		<integer>10</integer>
	</dict>
	<key>JumpBoost</key>
	<dict>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>rate</key>
		<integer>10</integer>
	</dict>
	<key>Absorber</key>
	<dict>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>rate</key>
		<integer>10</integer>
	</dict>
	<key>Shield</key>
	<dict>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>rate</key>
		<integer>10</integer>
	</dict>
	<key>Invisibility</key>
	<dict>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>rate</key>
		<integer>10</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>rate</key>
		<integer>1000</integer>
	</dict>
	<key>Shockwave</key>
	<dict>
		<key>color</key>
		<array>
			<integer>1</integer>
			<real>0.75</real>
			<integer>0</integer>
		</array>
		<key>rate</key>
		<integer>100</integer>
	</dict>
</dict>
</plist>
