<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Back-1a</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>364</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>355</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>285</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1b</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1393</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>340</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>300</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1c</key>
		<dict>
			<key>x</key>
			<real>2054</real>
			<key>y</key>
			<real>349</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>330</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>310</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2a</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>1056</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>295</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>345</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2b</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>1353</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>284</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>356</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2c</key>
		<dict>
			<key>x</key>
			<real>2054</real>
			<key>y</key>
			<real>1007</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>291</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>349</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-3a</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>360</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>280</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-3b</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>644</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>386</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>254</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-3c</key>
		<dict>
			<key>x</key>
			<real>2054</real>
			<key>y</key>
			<real>681</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>324</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>316</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-4a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1032</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>359</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>281</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-4b</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>721</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>333</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>307</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-4c</key>
		<dict>
			<key>x</key>
			<real>2054</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>345</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>295</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Sky-a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>640</real>
		</dict>
		<key>Ground-1</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>1639</real>
			<key>w</key>
			<real>800</real>
			<key>h</key>
			<real>59</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>69</real>
			<key>oW</key>
			<real>800</real>
			<key>oH</key>
			<real>128</real>
		</dict>
		<key>Ground-2</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>1700</real>
			<key>w</key>
			<real>800</real>
			<key>h</key>
			<real>59</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>69</real>
			<key>oW</key>
			<real>800</real>
			<key>oH</key>
			<real>128</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>Snow.png</string>
		<key>width</key>
		<integer>2567</integer>
		<key>height</key>
		<integer>1761</integer>
	</dict>
</dict>
</plist>
