<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Big-planet</key>
		<dict>
			<key>x</key>
			<real>2350</real>
			<key>y</key>
			<real>130</real>
			<key>w</key>
			<real>667</real>
			<key>h</key>
			<real>303</real>
		</dict>
		<key>Moon</key>
		<dict>
			<key>x</key>
			<real>1995</real>
			<key>y</key>
			<real>446</real>
			<key>w</key>
			<real>161</real>
			<key>h</key>
			<real>161</real>
		</dict>
		<key>Back-2a</key>
		<dict>
			<key>x</key>
			<real>1995</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>353</real>
			<key>h</key>
			<real>442</real>
			<key>oX</key>
			<real>671</real>
			<key>oY</key>
			<real>197</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2b</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>965</real>
			<key>h</key>
			<real>639</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>0</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2c</key>
		<dict>
			<key>x</key>
			<real>1995</real>
			<key>y</key>
			<real>609</real>
			<key>w</key>
			<real>1</real>
			<key>h</key>
			<real>1</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>0</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1a</key>
		<dict>
			<key>x</key>
			<real>2350</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>796</real>
			<key>h</key>
			<real>126</real>
			<key>oX</key>
			<real>228</real>
			<key>oY</key>
			<real>514</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1b</key>
		<dict>
			<key>x</key>
			<real>2158</real>
			<key>y</key>
			<real>446</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>132</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>508</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1c</key>
		<dict>
			<key>x</key>
			<real>3019</real>
			<key>y</key>
			<real>130</real>
			<key>w</key>
			<real>246</real>
			<key>h</key>
			<real>67</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>573</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Planet</key>
		<dict>
			<key>x</key>
			<real>3019</real>
			<key>y</key>
			<real>199</real>
			<key>w</key>
			<real>91</real>
			<key>h</key>
			<real>91</real>
		</dict>
		<key>Sky-a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>640</real>
		</dict>
		<key>Small-planet</key>
		<dict>
			<key>x</key>
			<real>3184</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>66</real>
			<key>h</key>
			<real>66</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>Space.png</string>
		<key>width</key>
		<integer>3267</integer>
		<key>height</key>
		<integer>644</integer>
	</dict>
</dict>
</plist>
