<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Back-1a</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>515</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>62</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>578</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1b</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>449</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>64</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>576</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-1c</key>
		<dict>
			<key>x</key>
			<real>1541</real>
			<key>y</key>
			<real>919</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>61</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>579</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2a</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>333</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>114</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>526</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2b</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>855</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>118</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>522</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-2c</key>
		<dict>
			<key>x</key>
			<real>1541</real>
			<key>y</key>
			<real>811</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>106</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>534</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-3a</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>169</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>162</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>478</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-3b</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>165</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>475</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Back-3c</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>811</real>
			<key>w</key>
			<real>511</real>
			<key>h</key>
			<real>161</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>479</real>
			<key>oW</key>
			<real>511</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Moon</key>
		<dict>
			<key>x</key>
			<real>2054</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>112</real>
			<key>h</key>
			<real>113</real>
		</dict>
		<key>Planet</key>
		<dict>
			<key>x</key>
			<real>2054</real>
			<key>y</key>
			<real>117</real>
			<key>w</key>
			<real>64</real>
			<key>h</key>
			<real>64</real>
		</dict>
		<key>Sky-a</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>640</real>
		</dict>
		<key>Water</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>644</real>
			<key>w</key>
			<real>1024</real>
			<key>h</key>
			<real>209</real>
			<key>oX</key>
			<real>0</real>
			<key>oY</key>
			<real>431</real>
			<key>oW</key>
			<real>1024</real>
			<key>oH</key>
			<real>640</real>
		</dict>
		<key>Island-1</key>
		<dict>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>579</real>
			<key>w</key>
			<real>809</real>
			<key>h</key>
			<real>230</real>
		</dict>
		<key>Island-2</key>
		<dict>
			<key>x</key>
			<real>1839</real>
			<key>y</key>
			<real>579</real>
			<key>w</key>
			<real>439</real>
			<key>h</key>
			<real>192</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>Water1.png</string>
		<key>width</key>
		<integer>2280</integer>
		<key>height</key>
		<integer>982</integer>
	</dict>
</dict>
</plist>
